.product-page {
  color: var(--white);
  height: fit-content;
  padding: 30px 40px;
}

.product-page > * {
  margin-bottom: 10px;
}

.product-page img {
  object-fit: cover;
  height: 600px;
}

.product-page button {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid yellow;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  font-size: var(--largefs);
  font-weight: 600;
  margin: 15px 0;
}

.product-page .description p:first-child {
  font-size: var(--largefs);
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--lightblue);
}

.product-page .description p:last-child {
  line-height: 1.5rem;
}
